.filters {
  background: white;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
h2 {
  margin-top: 0px;
  margin-left: 20px;
}
.subHeading {
  display: block;
  padding: 8px;
  margin: 0 auto;
  text-align: center;
  border-bottom: 2px solid rgb(196, 188, 185);
  width: 80%;
  margin-bottom: 18px;
}
button {
  cursor: pointer;
  font-size: 23px;
  border: none;
  background: rgb(187, 240, 152);
  width: 100px;
  height: 35px;
  outline: none;
  border-radius: 6px;
  margin-bottom: 22px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
button:nth-child(odd) {
  margin-right: 15px;
}

.launchYears, .successfulLaunch, .successfulLanding {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 230px;
  margin: 0 auto;
}

.unselected{
  background: rgb(187, 240, 152);
}
.selected{
  background: rgb(96, 231, 6);
}


@media (max-width: 1024px) and (min-width: 700px) {
  .filters{
    display:inline-block;
  }
}

@media (max-width: 1024px) and (min-width: 1440px) {
  .filters{
    display:inline-block;
  }
}