.launchList {
  margin: 10px;
}
.launchListItem {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  background: white;
  margin-bottom: 25px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.imageContainer {
    background: rgb(242, 242, 242);
    width: 85%;
    margin: 0 auto;
    margin-top: 24px;
    height: 190px;
    position: relative;
    display: inline-block;
    overflow: hidden;

}
.imageContainer img{
    display: block;
    margin-left: auto;
    width: 90%;
    width:100px; 
    height: 100%; 
    margin-right: auto;

    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    transform: translate(-50%, -50%);
}
.missionInfoLabel{
    font-weight: bold;
    font-size: 21px;
}

li{
    list-style-type: none;
    width: auto;
}
ul{
  width: 90%;
  padding-left:25px;
}

@media (max-width: 1024px) and (min-width: 700px) {
 .launchList{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
 }
 ul{
  padding-left:25px;
}
}

@media (max-width: 1440px) and (min-width: 1024px) {
  .launchList{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
   }
}
